#banner {
	background: #9c9;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 2px solid;
	font: small-caps 40px/40px "Times New Roman", serif;
	color: #282;
	text-align: conter;
}

#banner img {
	float: left;
}

#columns {
	background: #141;
}

#main {
	margin-left: 13em;
	padding-top: 4ex;
	padding-left: 2em;
	background: white;
}

#side {
	float:left;
	padding-top: 1em;
	padding-left: 1em;
	padding-bottom: 1em;
	width: 12em;
	background: #141;
}

#side a {
	color: #bfb;
	font-size: small;
}
