<% #在第八章有notice这里没用，暂时不加 %>
<h1>Your Pragmatic Catalog</h1>
<% @products.each do |product| %>
	<div class="entry">
		<%= image_tag(product.image_url) %>
		<h3><%= product.title %></h3>
		<%= sanitize(product.description) %>
		<div class="price_line">
			<span class="price"><%= number_to_currency(product.price) %></span>
		</div>
	</div>
<% end %>
